body {
    max-width: 100%;
    background-color:#000;
}

/*      Navbar      */

.navbar-text {
    font-size: xx-large;
    color:#f9d342;
}
.nav-item a{
    color: #f9d342;
}



/*      Slideshow       */
.slideshow-left {
  width: 952px;
  height: 315px;
  object-fit: fill;
  float: left;
  border: 5px solid #f9d342;
}

.slideshow-right {
  width: 951px;
  height: 315px;
  object-fit: fill;
  float: right;
  border: 5px solid #f9d342;
}

.logo img {
  border-radius: 30%;
  object-fit: fill;
  position: absolute;
  margin: 32px -128px;
  width: 250px;
  height: 250px;
  border: 5px solid #f9d342;
}
/*      Map */
#map {
    margin-top: 25px;
    height: 450px;
    width: 100%; 
    float: right;
}

/*    Searchbar   */
.searchList {
  background-color: #fafafa;
  margin: 5px 0;
}

/*    Youtube Video   */
.movie {
  padding-top: 20px;
  text-align: center;
  color: #f9d342;
}

.movie iframe {
  width: 560px;
  height: 315px;
}
/*      Articale    */
.findGym {
    margin: 27px 27px 27px 27px;
    text-align: center;
    color: #f9d342;
}

.findGym p {
  max-width: 95%;
  min-width: 95%;
  padding-top: 15px;
  margin: 29px 30px;
}


.contact {
    width: 60%;
    color: #f9d342;
}


/*      Search      */

/*      Footer      */

.footer {
    background-color: #0000;
}

.social {
    width: 100%;
    height: 15%;
    display: flex;
    position: static;
}

.social li {
    list-style-type: none;
    
}

.list-inline {
    float: right;
    margin-top: 35px;
}

.social-links li a i {
    width: 36px;
    height: 36px;
    padding: 14px 0;
    border-radius: 50%;
    font-size: 25px;
    float: right;
    line-height: 7px;
    text-align: center;
    color: #f9d342;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
   background-color: #2A2AF7;
}
/*      Media    */

/* Larger than mobile */
@media (min-width: 320px) {
  .navbar-text span {
    display: contents;
    position: relative;
  }
.slideshow {
  display: none;
}

}
  /* Larger than phablet */
  @media (min-width: 550px) {
    .movie iframe {
    width: 315px;
    margin: 0 48px;
    }
  }
  /* Larger than tablet */
  @media (min-width: 750px) {
    .movie iframe {
      width: 560px;
      height: 315px;
      margin: 0;
    }
  }
  
  /* Larger than desktop */
  
  @media (min-width: 1000px) {
    .movie iframe {
      width: 560px;
      height: 315px;
      margin: 0;
    }
  .slideshow {
    display: flex ;
  }
  }
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {
    .movie iframe {
      width: 560px;
      height: 315px;
      margin: 0;
    }
  
  }